.Item-list{
    list-style-type: none;
    padding: 0;
}

.Item-list li {
    background-color: #000000;
    color: #61dafb;
    padding: 0.3rem;
    display: flex;
    justify-content: space-between;
    margin: 0.3rem 0;
}